.title-courses h2 {
    font-weight: bold;
    font-size: 2.5rem;
}

.title-courses p {
    padding: 0.5rem 0;
    color: #94A3B8;
    font-size: 1.35rem;
}

.titles {
    padding: 0 1rem;
}

.title-courses span {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}