.footer h2 {
    font-size: 1.5rem;
}

.fa-instagram {
    background-color: red;
    padding: 0.5rem;
    border-radius: 50%;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}