.instagram-item {
    background-image: linear-gradient(to left, #fee254, #ff9a40, #ff4069be, #e300a3c4, #522ed592), url(../../../../public/images/general/section-pattern.png);
    padding: 1.5rem 1rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}