.article-content {
    background: transparent;
    padding-top: -1.5rem;
    outline: 0;
    border: 0!important;
}

.article-item {
    border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    -ms-border-radius: 6px !important;
    transition: .5s;
}

.article-content {
    border-radius: 0 0 10px 10px;
    background-color: rgb(40, 41, 61);
    margin-top: -0.5rem;
    border: 1px solid #383a54;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
}

.article-item:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.article-item h5 {
    font-size: 1.3rem;
}

.img-article {
    height: 15rem;
}

.read-article {
    color: #fff;
    font-size: 1.2rem;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.read-article:hover {
    color: rgb(46, 213, 115);
}

.det-article {
    color: #697387;
}

@media only screen and (max-width: 1024px) {
    .max-width,
    .article-container {
        max-width: 600px!important;
    }
}

@media only screen and (max-width: 1280px) {
    .max-width,
    .article-container {
        max-width: 1000px;
    }
}