.article-content {
    background: transparent;
    background-color: #28293d;
    padding-top: -1.5rem;
    outline: 0;
    border: 0!important;
}

.banner-img-article {
    background-image: linear-gradient(to top, #28293d, #59586900, #8d8c9800, #c5c4ca5f, #ffffff00), url(../../../../public/images/article/android-on-javascript-768x432.png);
    height: 20rem;
}