.price-product {
    color: #2ED573;
    font-size: 1.6rem;
    font-weight: bold;
}

.separator {
    width: 100%;
    padding: 0.02rem;
    display: block;
    background-color: red;
    margin: 1rem 0;
}