.price-product {
    color: #2ED573;
    font-size: 1.6rem;
    font-weight: bold;
}

.separator {
    width: 100%;
    padding: 0.02rem;
    display: block;
    background-color: #474a52;
    margin: 1rem 0;
}

.main-card,
.main-card img {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.categories div {
    background-color: yellow;
    padding: 0 0.3rem;
}